@model Tuple<List<SpendSmart.Models.Role>, List<SpendSmart.Models.User>>

@{
    ViewData["Title"] = "Admin Panel";
    var roles = ViewBag.UserRole;
    var users = ViewBag.Username;
}

<div class="container mt-5">
    <h2 class="mb-4">Administrator Panel</h2>

</div>
   